.btn-image{
  margin-left: auto;
  margin-right: auto;
  padding: 10px
}
.btn-wrapper {
  margin: 40px auto;
}
.btn-wrapper button {
  font-size: 48px;
  color: blue;
  background-color: white;

}

.details-button button {
  font-size: 48px;
  color: blue;
  background-color: white;

}

.dup-btn button {
  font-size: 48px;
  color: blue;
  background-color: white;
   margin: 48px auto;

}

.dup-btn button:hover{
  color:white;
  background-color:black;
}

.dup-btn button:focus{
  background-color:blue;
  color:green;
}

.btn-wrapper button:hover {
  color: white;
  background-color: red;
}
  .details-button button:hover {
  color: white;
  background-color: red;
}

.card:hover{
  width: 40%;
  
  background-size: auto;
  background-color: blue;
}

@media (max-width: 800px) and (min-width: 500px){
 details-button{
    display: none;
  }
}

@media screen and (max-width: 800px){
  .card{
    max-width: 500px;
  }
  
}


